footer
    p.is-center
        a(href='') About Me
        |   |  
        a(href='') Experience
        |   |  
        a(href='') Projects
        |   |  
        a(href='') Contact

    p.is-center &copy; 2018 Carlos Downie. All rights reserved.
        br
        a(href='') Privacy Policy