@import "mixins";

.custom-wrapper {
	background-color: #ffd390;
	margin-bottom: 1em;
	-webkit-font-smoothing: antialiased;
	height: 2.1em;
	overflow: hidden;
	.transition(height;0.5s);
}

.custom-wrapper.open {
	height: 14em;
}

.custom-menu-3 {
	text-align: right;
}

.custom-toggle {
	width: 34px;
	height: 34px;
	position: absolute;
	top: 0;
	right: 0;
	display: none;
}

.custom-toggle .bar {
	background-color: #777;
	display: block;
	width: 30px;
	height: 3px;
	border-radius: 100px;
	position: absolute;
	top: 18px;
	right: 7px;
	.transition(all,0.5s);
}

.custom-toggle .bar:first-child {
	.transform(translateY;-6px);
}

.custom-toggle.x .bar {
	.transform(rotate;45deg);
}

.custom-toggle.x .bar:first-child {
	.transform(rotate;-45deg);
}